nav {
  a {
    display: block;
    padding: 15px 50px;
    color: #485e84;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    border-left: 4px solid transparent;
    transition: color .1s linear, border-left .3s linear, background .2s linear;

    &.active {
      color: white;
      background: #30a0ff1c;
      border-left: 4px solid #154ba5;
    }
  }
}