@import "foundation";

html, body, #react-root {
  height: 100%;
  overflow: hidden;
}

#react-root {
  @include flex();
}

#sidebar {
  width: 254px;

  @include breakpoint(small only) {
    width: 154px;
  }
}

#main-content {
  padding-left: 75px;
}