#sidebar {
  background: linear-gradient(to right, rgb(218, 216, 251) 75%, rgb(208, 207, 236));
  background: linear-gradient(to right, #efefef 75%, #e0e0e0);
  background: linear-gradient(to right, #10284a 75%, #181e2f);

  color: white;
}
